body{background-image:url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-tong-025-eye-01_1.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d3a00d6c0f4d514aeb5fe93b069730c3); color:wheat; font-family: 'Cinzel Decorative', cursive;}
html{scroll-behavior:smooth;}

/*Navbar*/
* {padding: 0; margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
nav {background:rgba(37, 37, 37, 0.5); height: 80px; width: 100%; position: fixed; z-index: 3;}
nav ul {float: right; margin-right: 2vh;}
nav ul li {display: inline-block; line-height: 80px; margin: 0 1vh;}
nav ul li a {color: wheat; font-size: 25px; padding: 25px; transition: all .8s; font-family:'Quicksand', sans-serif;}
nav ul li a:hover {background-color:rgba(245, 222, 179, 0.2); padding-left: 40px; padding-right: 40px;}
.checkbtn {font-size: 30px; color: wheat; float: right; line-height: 80px; margin-right: 40px; cursor: pointer; display: none;}
#check {display: none;}

/*Japan's Magic*/
label.logo {color:white; font-size: 40px; line-height: 80px; margin-left: 30px;}
.header-back{background-color:rgba(255, 0, 34, 0.5); width:60px; height:60px; border-radius:50%; position:relative; display: inline-block; left:30px; top:10px; text-align:center;}

/*Background Sakura*/
.section{position:relative; height:100vh; width:100%; display: flex; margin:0; overflow:hidden;}
.img-sakura{background-image: url(https://images.unsplash.com/photo-1575360986312-6de988f11479?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1965&q=80); background-position: bottom; background-repeat: no-repeat; background-size:cover; position:absolute; height:100vh; width:100%;}

/*Everything you need to know*/
.font-every{font-family: 'Cinzel Decorative', cursive; background-color: rgba(37, 37, 37, 0.5); width:100%; font-size:150px; position:relative; text-align:center; margin:auto; z-index:1; text-shadow:rgb(43, 26, 21) 0.1em 0.1em 0.1em;}

/*Angle - Down*/
.style-angle{transition: all .5s; color:wheat; font-size:1em; width:100%; text-shadow:rgb(43, 26, 21) 0.1em 0.1em 0.1em; position:relative;}
.style-angle:hover{color:rgba(245, 222, 179, 0.425); transform:translateY(10px);}

/*Culture*/
.img-cuture{background-image:url(https://images.unsplash.com/photo-1523287957-02e201f6faa1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80); background-size: cover; background-repeat:no-repeat; background-position:center; width:150rem; height:40rem; border-radius: 0px 50% 50% 0px ;}
.font-img-c{color:wheat; text-shadow:rgb(43, 26, 21) 0.1em 0.1em 0.1em; font-size: 200px; text-decoration:none; margin: 2rem; transition: all .5s;}
.culture-text{font-family:'Quicksand', sans-serif; font-size: 25px; width: 100%;}
.block0{display: flex; background-color: rgba(255, 255, 255, 0.2); margin-top:12vh; margin-bottom:12vh;}
.font-img-c:hover{color: rgba(245, 222, 179, 0.5);}

/*Fish Background*/
.img-fish{background:url(https://images.unsplash.com/photo-1504474298956-b1812fe43d92?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80://as1.ftcdn.net/v2/jpg/04/34/90/38/1000_F_434903829_rRZdXOfo4kEV30Pm67JNFFQsWMTY5hMm.jpg) top/ cover fixed; width:100%; height:100%; display:inline-block;}

/*Place, Restaurants and Nightlife links*/
.img-place{background-image:url(https://images.unsplash.com/photo-1478436127897-769e1b3f0f36?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80); background-position:center;}
.img-food{background-image:url(https://images.unsplash.com/photo-1535007813616-79dc02ba4021?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80); background-position:center;}
.img-night{background-image:url(https://images.unsplash.com/photo-1514362453360-8f94243c9996?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1965&q=80); background-position:bottom;}

/*Details of image (Place, Restaurants and Night Life links) size and position...*/
.p-img{background-size:cover; height:40rem; width:35rem; display:inline-block; margin: 100px 50px;}
.p-all{width:100%; height:100%; position:relative; text-align:center; display: inline-flex; justify-content: center; align-items: center;}
.title{position: relative; top:10%; transition: all .5s;}
.title:hover{color: rgba(245, 222, 179, 0.5);}
.font-img{color:wheat; text-shadow:rgb(43, 26, 21) 0.1em 0.1em 0.1em; font-size: 70px;}

/*This is the part where the users hover the mouse on "Place, Restaurants and Night Life links" and you can see the text*/
.back{width:100%; height:100%; transition:all 0.8s;}
.back .text{font-family:'Quicksand', sans-serif; font-size:25px; color:rgb(255, 204, 110); margin:5% 5%; transform:translateY(150px); opacity:0; transition:all .8s;}
.back:hover{background-color:rgba(0, 0, 0, 0.5);}
.back:hover .text{transform:translateY(50px);}
.back:hover .text, .back:hover{opacity:1;}

/*Best time to go*/
.img-winter{background-image: url(https://images.unsplash.com/photo-1639084546254-49863248a466?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80); background-size:cover; background-repeat:no-repeat; background-position:center;}
.img-spring{background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/upwk61851956-wikimedia-image.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&auto=format&ixlib=js-2.2.1&s=bf5d163e54118718c7af2e6717358314); background-size:cover; background-repeat:no-repeat; background-position:center;}
.img-autumn{background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/wk67994743-image-kp6alk84.jpg?w=1000&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&auto=format&ixlib=js-2.2.1&s=2bd8932bd3742978eb2d98de751582ee); background-size:cover; background-repeat:no-repeat; background-position:center;}

/*Details of image (Best time to go) size and position...*/
.size-img{width:100%; height:50vh;}
.block{display: flex; text-align: center; margin-top: 12vh; margin-bottom: 12vh;}
.font-img-best{width:100%; text-align:center; position: absolute; display: table; margin-top: 20vh; color:wheat; text-shadow:rgb(43, 26, 21) 0.1em 0.1em 0.1em; font-size: 220px; transition: all .5s;}
.font-img-best:hover{color: rgba(245, 222, 179, 0.5);}

/*Who are us?*/
.img-who{background-image:url(https://images.pexels.com/photos/1494077/pexels-photo-1494077.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260); background-size:cover; background-position:center; background-repeat:no-repeat;}
.main{display:flex; width:100%; height:80vh;}

/*Is where users can hover the mouse on and see the text "about us"*/
.card{width:50%; height:80%; margin:10%; margin-top: 5vh; transition:all 2s;}
.heading{position:relative; top:7vh; transition:all 8s;}
.card .heading{text-shadow:rgb(43, 26, 21) 0.1em 0.1em 0.1em; font-size:100px; text-align:center; transform:translateY(100px); transition:all .8s;}
.card .text{font-family:'Quicksand', sans-serif; font-size:25px; color:rgb(255, 204, 110); margin:5% 5%; transform:translateY(100px); opacity:0; transition:all .8s;}
.card:hover{background-color:rgba(0, 0, 0, 0.37);}
.card:hover .heading{transform:translateY(-15px);}
.card:hover .text{transform:translateY(30px);}
.card:hover .text, .card:hover{opacity:1;}

/*Contact*/
.contact{position:relative; width:100%; text-align:center; padding-top: 5rem;}
.font-contact{color:wheat; font-family: 'Cinzel Decorative', cursive; text-shadow:rgb(43, 26, 21) 0.1em 0.1em 0.1em; font-size:4.5em;}
.we-are-always{font-family:'Mitr', sans-serif; color:wheat;}
#line{border: solid 1px rgb(255, 204, 110); width:100%; position:relative; display:inline-block; margin-top: 2rem; margin-bottom: 2rem;}
#line2{border: solid 1px rgb(255, 204, 110); width:100%; position:relative; display:inline-block; margin-top: 2rem; margin-bottom: 2rem;}

/*Subscribe*/
.p-sign{color:wheat; font-family:'Mitr', sans-serif; position:relative; border:rgb(255, 204, 110) solid 4px; padding:2em; margin: auto; width:40rem; text-align:left;}
.style-stay{color:rgb(255, 204, 110); font-size: 1.5rem; text-transform: uppercase;}
.style-sign{padding: 5px; font-size:1.2em; color:rgb(43, 26, 21); background-color: rgba(245, 222, 179, 0.233); border-style:none; border-radius:0.5rem; border:3px solid rgb(255, 204, 110);}
.sign-up{margin: 0.5rem; font-size:1.5em; color:rgb(255, 204, 110); background-color:rgba(245, 222, 179, 0.281); cursor: pointer; padding: 5px; border-style:none; border-radius: 0px 10px;}

/*Message*/
.p-msg{position:relative; display: inline-block; margin-top: 20px;}
.style{padding: 0.2rem; border-radius: 0.5rem; font-size:1.2em; font-family:'Mitr', sans-serif; color:wheat; background-color:rgba(245, 222, 179, 0.233); border-style:none; display:block; width:100%; border: solid 3px rgb(255, 204, 110);}
.style-submit{font-size:1.5em; color:rgb(255, 204, 110); background-color:rgba(245, 222, 179, 0.281); border-style:none; border-radius: 0px 10px; position:relative; margin: auto; cursor: pointer; padding: 5px; width:100%;}

/*Social Media*/
.p-social{font-size:3em; text-align: center;}
.social{color:rgb(255, 204, 110); padding-right: 1rem; padding-left: 1rem;}
.social:hover{color:rgba(255, 204, 110, 0.507);}

/*Footer*/
.hello{font-size:1rem; position:relative; color:wheat; font-family:'Mitr', sans-serif; text-align:left;}
.color{color:rgb(255, 204, 110); padding: 15px; float:left;}
section>div>a{color:wheat;}
section>div>a:hover{color:rgba(255, 204, 110, 0.411);}

/*320px — 480px: Mobile devices*/
@media (min-width:320px) and (max-width:480px){
    /*Japan's Magic*/
    label.logo {font-size: 20px; line-height: 80px;}
    .header-back{width:30px; height:30px;}
    /*Every thing you need to know*/
    .font-every{font-size: 35px;}
    /*Culture*/
    .img-cuture{background: none; width:100%; height: 100%; position: absolute; border-radius: 0; z-index: -1;}
    .block0{background-image:url(https://images.unsplash.com/photo-1523287957-02e201f6faa1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80); background-position: bottom; background-repeat: no-repeat; background-size: cover;}
    .font-img-c{font-size: 2.5rem; background-color: rgba(0, 0, 0, 0.493); width: 100%; height: 100%; padding: 20px;}
    .culture-text{font-size: 15px;}
    /*Place, Restaurants and Night Life links*/
    .img-fish{background-repeat: repeat-y;}
    .p-img{height:20rem; width:80%; margin:20px;}
    .p-all{display: inline-block;}
    .font-img{font-size: 35px;}
    .back .text{font-size: 15px;}
    /*Best time to go*/
    .font-img-best{font-size: 60px;}
    .size-img{height:20rem;}
    /*Who are us?*/
    .card{width:100%; height:100%; margin:auto}     
    .card .heading{font-size:35px; transform:translateY(50px);}
    .card .text{font-size: 15px;}
    /*Contact*/
    .font-contact{font-size:3em;}
    .p-social{font-size:2em;}
    .social{padding-right: 0.5rem; padding-left: 0.5rem;}
    .p-sign{padding:1em; width:20rem;}
}

/*481px — 768px: iPads, Tablets*/
@media (min-width:481px) and (max-width:768px){ 
    /*Every thing you need to know*/
    .font-every{font-size: 50px;}
    /*Culture*/
    .img-cuture{background: none; width:100%; height: 100%; position: absolute; border-radius: 0; z-index: -1;}
    .block0{background-image:url(https://images.unsplash.com/photo-1523287957-02e201f6faa1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80); background-position: bottom; background-repeat: no-repeat; background-size: cover;}
    .font-img-c{font-size: 4rem; background-color: rgba(0, 0, 0, 0.493); width: 100%; height: 100%; padding: 20px;}
    .culture-text{font-size: 20px;}
    /*Place, Restaurants and Night Life links*/
    .img-fish{background-repeat: repeat-y;}
    .p-img{height:30rem; width:80%; margin: 20px;}
    .p-all{display: inline-block;}
    .font-img{font-size: 50px;}
    .back .text{font-size: 20px;}
    /*Best time to go*/
    .font-img-best{font-size: 90px;}
    .size-img{height:20rem;}
    /*Who are us?*/
    .card{width:100%; height:100%; margin:auto}     
    .card .heading{font-size:45px; transform:translateY(50px);}
    .card .text{font-size: 20px;}
    /*Contact*/
    .p-sign{width:30rem;}
}

/*769px — 1024px: Small screens, laptops*/
@media (min-width:769px) and (max-width:1024px){
    /*Every thing you need to know*/
    .font-every{font-size: 80px;}
    /*Culture*/
    .img-cuture{height:20rem;}
    .font-img-c{font-size: 5rem;}
    .culture-text{font-size: 20px;}
    /*Place, Restaurants and Night Life links*/
    .p-img{margin: 40px 4px;}
    .p-img{height:25rem; width:15rem;}
    .font-img{font-size: 30px;}
    .back .text{font-size: 17px;}
    /*Best time to go*/
    .font-img-best{font-size: 85px;}
    .size-img{height:20rem;}    
    /*Who are us?*/
    .card{width:80%; height:80%; margin:auto; margin-top: 5%;}
    .card .heading{font-size:60px;}
    .card .text{font-size: 20px;}
}

/*1025px — 1200px: Desktops, large screens*/
@media (min-width:1025px) and (max-width:1200px){
        /*Every thing you need to know*/
        .font-every{font-size: 90px;}
        /*Culture*/
        .img-cuture{height:25rem;}
        .font-img-c{font-size: 7rem;}
        .culture-text{font-size: 20px;}
        /*Place, Restaurants and Night Life links*/
        .p-img{margin: 40px 4px;}
        .p-img{height:30rem; width:20rem;}
        .font-img{font-size: 40px;}
        .back .text{font-size: 22px;}
        /*Best time to go*/
        .font-img-best{font-size: 110px;}
        .size-img{height:25rem;}        
        /*Who are us?*/
        .card{width:80%; height:80%; margin:auto; margin-top: 5%;}
        .card .heading{font-size:80px;}
        .card .text{font-size: 25px;}
}

/*1201px — 1500px: Extra large screens, TV*/
@media (min-width:1201px) and (max-width:1500px){
        /*Every thing you need to know*/
        .font-every{font-size: 100px;}
        /*Culture*/
        .img-cuture{height:30rem;}
        .font-img-c{font-size: 8rem;}
        .culture-text{font-size: 25px;}
        /*Place, Restaurants and Night Life links*/
        .p-img{margin: 40px 4px;}
        .p-img{height:30rem; width:24rem;}
        .font-img{font-size: 50px;}
        .back .text{font-size: 25px;}
        /*Best time to go*/
        .font-img-best{font-size: 130px;}
        .size-img{height:25rem;}
        /*Who are us?*/
        .card{width:80%; height:80%; margin:auto; margin-top: 5%;}
        .card .heading{font-size:80px;}
        .card .text{font-size: 25px;}
}
/*1501 — 1920px*/
@media (min-width:1501px) and (max-width:1920px){
        /*Every thing you need to know*/
        .font-every{font-size: 130px;}
        /*Culture*/
        .font-img-c{font-size: 10rem;}
        /*Place, Restaurants and Night Life links*/
        .p-img{margin: 50px 10px;}
        .p-img{height:30rem; width:30rem;}
        .font-img{font-size: 60px;}
        .back .text{font-size: 25px;}
        /*Best time to go*/
        .font-img-best{font-size: 160px;}
        .size-img{height:25rem;}
}

@media (max-width: 1024px){
	.checkbtn {display: block;}
	ul{position: fixed; width: 100%; height: 100vh; background-color:rgba(0, 0, 0, 0.7); top: 80px; left: -100%; text-align: center; transition: all .5s;}
	nav ul li{display: block; margin: 30px 0; line-height: 80px;}
	nav ul li a {font-size: 20px;}
	a:hover, a.active {background: none; color: white;}
	#check:checked ~ ul {left: 0;}
}